@import '../../style/variables.scss';
@import '../../style/breakpoints.scss';

.home-page {
    &__text {
        border-left: 0.4rem solid $logo-color;
        padding-left: 0.5rem;
        text-align: justify;
        margin: 0;
        display: flex;
        flex-direction: column;
        &--outstanding {
            border-left: none;
            padding: 0.5rem 1rem; 
        }
        &--start {
            text-align: left;
        }
        &--support {
            display: block;
        }
    }
    &__button {
        padding: 0.6rem;
        background-color: $logo-color;
        color: $light-color;
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        align-self: flex-end;
        &--outstanding {
            margin: 0.5rem 1.5rem 1.5rem;
            background-color: $light-color;
            color: $logo-color;
        }
    }
    &__adoption {
        margin: 0;
        height: 60vw;
        background-image: linear-gradient(transparent 50%, $logo-color), url('../../images/pluto.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include medium {
            height: 50vw;
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        @include small {
            align-self: center;
            width: 90%;
        }
        @include medium {
            align-self: center;
            width: 80%;
        }
    }
    &__title {
        margin: 0;
        padding-left: 1rem;
    }
    &__quote {
        margin: 0.5rem 1rem;
        font-style: italic;
    }
    &__support {
        margin: 1.5rem 0 1.5rem;
        padding: 1.5rem;
        border: 0.2rem solid $logo-color;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: $light-color;
    }
}

.polaroid {
    position: absolute;
    color: #333;
    padding: 10px 10px 20px 10px;
    width: 200px;
    border: 1px solid #BFBFBF;
    background-color: white;
    z-index: 2;
    font-size: 0.9em;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    transform: rotate(-10deg);
    transition: -webkit-transform 0.5s ease-in;
    &:hover {
        transform: rotate(0deg);
        z-index: 3;
    }
    & img {
        margin: 0 0 5px;
        width: 200px;
        max-height: 250px;
    }
    &--Basia {
        right: 150px;
        width: 150px;
        transform: rotate(15deg);
        & img {
            width: 150px;
        }
    }
    &--Ela {
        right: 0px;
        bottom: 0;
        transform: rotate(-5deg);
    }
    &--Joasia {
        left: 30px;
        bottom: 40px;
        width: 150px;
        transform: rotate(5deg);
        z-index: 0;
        & img {
            width: 150px;
        }
    }
    &--Asia {
        right: 0px;
        top: 0px;
        width: 130px;
        transform: rotate(-2deg);
        & img {
            width: 130px;
        }
    }
    &--Magda {
        left: 180px;
        bottom: 0px;
        width: 110px;
        transform: rotate(2deg);
        & img {
            width: 110px;
        }
    }
}

.about-us-large {
    margin: 2rem 0 4rem;
    display: grid;
    grid-template-areas: 
      "head head head head"
      "text text image-box image-box";
    grid-template-rows: 4rem 450px;
    grid-template-columns: 1fr 10rem 250px 250px;
    column-gap: 2rem;
    &__header {
        grid-area: head;
    }
    &__text {
        grid-area: text;
    }
    &__button {
        grid-area: button;
    }
    &__image-box {
        grid-area: image-box;
        position: relative;
    }
}