@import '../../style/variables.scss';
@import '../../style/breakpoints.scss';

.home-page {
    &__text {
        border-left: 0.4rem solid $logo-color;
        padding-left: 0.5rem;
        text-align: justify;
        margin: 0;
        &--outstanding {
            border-left: none;
            padding: 0.5rem 1rem; 
        }
        &--start {
            text-align: left;
        }
    }
    &__button {
        padding: 0.6rem;
        background-color: $logo-color;
        color: $light-color;
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        align-self: flex-end;
        &--outstanding {
            margin: 0.5rem 1.5rem 1.5rem;
            background-color: $light-color;
            color: $logo-color;
        }
    }
    &__adoption {
        margin: 0;
        height: 60vw;
        background-image: linear-gradient(transparent 50%, $logo-color), url('../../images/pluto.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include medium {
            height: 40vw;
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        @include medium {
            align-self: center;
            width: 80%;
        }
    }
    &__title {
        margin: 0;
        padding-left: 1rem;
    }
    &__quote {
        margin: 0.5rem 1rem;
        font-style: italic;
    }
    &__support {
        margin: 1.5rem 0 1.5rem;
        padding: 1rem;
        border: 0.2rem solid $logo-color;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: $light-color;
    }
}