@import '../../style/variables.scss';
@import '../../style/breakpoints.scss';

.modal {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: $logo-color;
    color: $background-main-color;
    border-radius: 5px;
    box-sizing: border-box;
    &__header {
        width: 100%;
        text-align: center;
        padding: 1rem 1rem 0;
        font-size: 1rem;
        box-sizing: border-box;
    }
    &__content {
        width: 100%;
        padding: 10px 5px;
        text-align: center;
        box-sizing: border-box;
    }
    &__close {
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        font-size: 24px;
        background: #ffffff;
        border-radius: 18px;
        border: 1px solid #cfcece;
        color: $logo-color;
    }
    @include small {
        padding: 2rem;
        font-size: 1.5rem;
        &__header {
            font-size: 1.6rem;
        }
        & a {
            font-size: 1.6rem;
        }
    }
}

.popup-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}


  