@import '../../style/variables.scss';
@import '../../style/breakpoints.scss';

.adoption {
    & a {
        color: $logo-color;
        font-weight: 600;
        font-size: 1.3rem;
        text-decoration: none;
    }
    & h4 {
        margin-bottom: 0;
    }
}