@import '../../style/breakpoints.scss';
@import '../../style/variables.scss';

.dog-page {
    font-weight: 500;
    &__img-box {
        text-align: center;
        & img {
            max-width: 100%;
            height: auto;
            margin: 1rem 0 2rem;
            border-radius: 5px;
        }
    }
    &__buttons-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        @include small {
            justify-content: end;  
        }
    }
    & a {
        color: $logo-color;
        font-weight: 700;
    }
    @include large {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
}