@import '../../style/variables.scss';
@import '../../style/breakpoints.scss';

.support {
    &__donors-box {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        & a {
            text-decoration: none;
            color: $main-text-color;
        }
    }
    &__donor {
        margin: 1rem;
        box-sizing: border-box;
        width: 100%;
        min-height: 10rem;
        background-color: white;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            width: 100%;
            border-radius: 5px;
        }
        &__description {
            font-weight: 600;
        }
        &__figcaption {
            margin: 0;
        }
        @include small {
            width: 43%;
        }
        @include medium {
            width: 30vw;
        }
    }
}