@import '../../style/variables.scss';
@import '../../style/breakpoints.scss';

.navigation {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: linear-gradient(white, $background-main-color);
    z-index: 5;
    &__logo {
        padding-left: 3vw;
        width: 20vw;
        height: auto;
        cursor: pointer;
        &--scrolled {
            width: 10vw;
        }
        @include medium {
            width: 10vw;
            &--scrolled {
                width: 6vw;
            }
        }
    } 
    &--scrolled {
        padding-top: 1vh;
        margin-bottom: 0;
    }
    & a {
        text-decoration: none;
        color: $logo-color;
    }
    @include huge {
        justify-content: center;
    }
}
.hamburger {
    padding-right: 3vw;
    background-color: transparent;
    color: $logo-color;
    font-size: 15vw;
    border: none;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    &--scrolled {
        font-size: 10vw;
    }
    @include medium {
        display: none;
    }
}