@import '../../style/variables.scss';
@import '../../style/breakpoints.scss';

.header {
    width: 100%;
    height: 50vw;
    background-image: linear-gradient(#F2F2F2, transparent 50%), url('../../images/house.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $logo-color;
    &--support {
        background-image: linear-gradient(#F2F2F2, transparent 20%), url('../../images/support/thankyou.jpg');
        color: $background-main-color;
    }
    &--jancio {
        background-image: linear-gradient(#F2F2F2, transparent 20%), url('../../images/dogs/Jancio.png');
    }
    &__title {
        width: 70vw;
        font-size: 1rem;
        margin-left: 2vw;
        margin-top: 0;
        padding-top: 5vw;
        
        font-style: italic;
        @include before-small {
            font-size: 1.3rem;
        }
        @include small {
            width: 50vw;
        }
        @include huge {
            margin-left: 10vw;
        }
    }
    &__text {
        margin-right: 10vw;
        align-self: flex-end;
        font-weight: 500;
        font-style: italic;
        color: $light-color;
        background-color: rgba(10, 9, 9, 0.58);
        font-size: 0.9rem;
        @include small {
            font-size: 1.1rem;
        }
    }
    @include medium {
        height: 40vw;
    }
    @include large {
        height: 35vw;
    }
}