@import '../../style/variables.scss';
@import '../../style/breakpoints.scss';

.header {
    padding-top: 2vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: linear-gradient(white, $background-main-color);
    &__logo {
        padding-left: 3vw;
        width: 20vw;
        height: auto;
        cursor: pointer;
        @include medium {
            width: 10vw;
        }
    }  
}
.hamburger {
    padding-right: 3vw;
    background-color: transparent;
    color: $logo-color;
    font-size: 15vw;
    border: none;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    @include medium {
        display: none;
    }
}