@mixin before-small {
    @media screen and (min-width: 475px) {
        @content;
    }
}
@mixin small {
    @media screen and (min-width: 576px) {
        @content;
    }
}
@mixin medium {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin large {
    @media screen and (min-width: 992px) {
        @content;
    }
}
@mixin extra-large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin extra-extra-large {
    @media screen and (min-width: 1400px) {
        @content;
    }
}