@import '../../../style/variables.scss';
@import '../../../style/breakpoints.scss';

.menu {
    align-self: start;
    width: 100vw;
    color: $logo-color;
    font-weight: 600;
    line-height: 1.7rem;
    list-style: none;
    font-size: 1.5rem;
    &__item {
        margin-bottom: 0.7rem;
        position: relative;
        &__text {
            display: flex;
            align-content: flex-end;
            cursor: pointer;
        }
        &__icon {
            font-size: 1rem;
            display: flex;
            align-items: center;
            &--rotated {
                transform: rotate(180deg);
            }
        }
        &:hover {
            opacity: 0.8;
        }
    }
    & a {
        text-decoration: none;
        color: $logo-color;
    }
    @include medium {
        padding-left: 0;
        width: 70vw;
        align-self: center;
        display: flex;
        justify-content: end;
        &__item {
            margin-right: 0.8rem;  
        }
        &--scrolled {
            margin: 0;
        }
    }
}
.submenu {
    list-style: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &--invisible {
        display: none;
    }
    & li:hover {
        opacity: 0.8;
    }
    @include medium {
        position: absolute;
        margin-top: 1rem;
        padding: 0 1rem 1rem;
        background-color: $background-main-color;
        width: 150%;
        
        & li {
            margin-top: 0.2rem;
            //border-bottom: 0.1rem solid $logo-color;
        }
    }
}

