@import './style/variables.scss';
@import './style/breakpoints.scss';

.App {
  font-size: 17px;
  background-color: $background-main-color;
  color: $main-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include small {
    font-size: 1.1rem;
  }
  @include medium {
    font-size: 1.2rem;
  }
  @include large {
    font-size: 1rem;
  }
  @include extra-large {
    font-size: 1.1rem;
  }
  @include extra-extra-large {
    font-size: 1.3rem;
  }
  @include huge {
    font-size: 1.4rem;
  }
}

.article {
  width: 90vw;
  display: flex;
  flex-direction: column;
  &--outstanding {
    margin-top: 2rem;
    width: 100%;
    background-color: $logo-color;
    color: $light-color;
  }
  &--justify {
    text-align: justify;
  }
  @include small {
    width: 80vw;
    &--outstanding {
      width: 100%;
    }
  }
  @include medium {
    width: 70vw;
    &--outstanding {
      width: 100%;
    }
    &--medium {
      width: 90vw;
    }
  }
  @include large {
    width: 90vw;
    &--outstanding {
      width: 100%;
    }
  }
  @include extra-large {
    width: 80vw;
    &--outstanding {
      width: 100%;
    }
  }
}
.transition {
  width: 100%;
  height: 5vh;
  background: linear-gradient($logo-color, $background-main-color);
}
a {text-decoration: none;}

